body {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    display: grid;
    grid-template-columns: auto auto auto;
    /* row-gap: 5px; */
    justify-content: center;
    text-align: center;
}

.title {
    text-align: center;
    font-family: 'Brush Script', Georgia, 'Times New Roman', Times, serif;
    padding: 2%;
}

.button {
    margin: 2%;
    font-size: medium;
    /* width: 10%; */
    padding: 2%;
}

.score {
    text-align: center;
    position: relative;
    /* left: 10px; */
}

.score > short {
    display: block;
}

.pot > #p1_score_addition, #p2_score_addition {
    position: absolute;
    z-index: 1;
    left: 45%;
}

.pot {
    min-width: 6em;
    min-height: 6em;
    /* border: 2px solid #efefef; */
    background-image: url(img/money_bag.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 30%;
    background-position-y: -20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

.buttons {
    display: grid;
    grid-template-columns: 20% auto 20%;
    align-items: center;
    grid-column: 2;
    grid-row: 4;
}

.buttons > * {
    width: max-content;
    margin: 1em;
    padding: 0.5em 1em;
    place-self: center;
}

.buttons #continue {
    grid-column: 1
}

.buttons #pot {
    grid-column: 2;
    /* grid-row: 3; */
}

.buttons #end {
    grid-column: 3;
    /* grid-row: 3; */
}

#round {
    grid-column: 2;
    grid-row: 1;
}

#round > short {
    display: block;
}

.player_turn {
    grid-column: 2;
    grid-row: 2;
}

.player_turn > short {
    display: block;
}

.game_center {
    grid-column: 2;
    grid-row: 3;
    margin: 3em 0em;
}

#p2_score {
    grid-column: 2;
    grid-row: 3;
}

#p1_score {
    grid-column: 2;
    grid-row: 5;
}


/* #form {
    display: flex;
    flex-direction: column;
    margin: 0% 3%;
    align-items: center;
} */

/* .form {
    display: grid;
    align-items: center;
    row-gap: 10px;
    column-gap: 80px;
}  */

/* td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    width: 10%;
    text-align: center;
}

.settings,
.util {
    display: grid;
    grid-template-columns: auto 40%;
}

.settings {
    grid-column: 1;
    column-gap: 10px;
}

.settings label {
    width: max-content;
}

.util-label {
    grid-column: 2;
    width: auto;
    text-align: center;
    border: 1px solid #000000;
    padding: 2%;
    font-weight: bold;
}

.util {
    grid-column: 2;
    border-collapse: collapse;
    padding: 1%;
}

.util label {
    font-weight: bold;
    width: 100%;
}

.util input {
    text-align: center;
}

.util label,
.util input {
    border: 1px solid #000000;
    padding: 2%;
} */

/* #results { */
    /* display: grid;
    column-gap: 10px;
    row-gap: 10px; */
    /* border-collapse: collapse; */
    /* width: 100%; */
    /* margin: 5%; */
/* } */